@page
@model RandomSteamGame.Pages.RandomGameModel
@{
    ViewData["Title"] = "Random Steam Game";
}

@if (Model.ErrorMessage is not null)
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="row">
        <div class="cold-12 col-md-4">
            <div>
                You should play:
                @Model.AppDetails.Data.Name
            </div>
            <div class="">
                <a href="steam://run/@Model.AppDetails.Data.SteamAppid/">Run game (if Steam is installed)</a>
            </div>
            <form method="post" class="mt-2">
                @Html.HiddenFor(x => x.SteamId)
                <button type="submit" class="btn btn-primary">Again</button>
            </form>
        </div>
        <div class="col-12 col-md-8 my-5 my-md-0">
            @Html.Raw(Model.AppDetails.Data.AboutTheGame)
        </div>
    </div>
}

@section Scripts {
    <script>
        $(() => {
            if ('@Model.AppDetails.Data?.Background' != '') {
                const body = document.getElementById("body");
                body.style.backgroundImage = "url('@Model.AppDetails.Data.Background')";
                body.style.backgroundRepeat = "no-repeat";
                body.style.backgroundSize = "cover";
                body.style.backgroundAttachment = "fixed";
                body.style.color = "white";
                body.style.backgroundColor = "black";
            }
        })
    </script>
}