@page "/random-game/{SteamId:long}"
@inject HttpClient _client
@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

@if (_appData is not null)
{
    <PageTitle>Random Game: @_appData.Name - By Kyle Givler</PageTitle>
}
else
{
    <PageTitle>Random Game - By Kyle Givler</PageTitle>
}

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-warning" role="alert">
        @_errorMessage
    </div>
}

@if (_appData is not null)
{
    <div class="row" id="mainContainer" >
        <div class="col-12 col-md-5" id="main">
            <div id="randomGame">
                You should play:<br />
                <span class="fs-2" id="gameName">@_appData.Name</span><br />
                <div id="buttonContainer" class="mt-2">
                    <button type="button"
                    class="btn @(_isBusy ? "btn-warning" : "btn-primary")"
                    id="btnAgain"
                    disabled="@_isBusy"
                    @onclick="UpdateData">
                        @(_isBusy ? "Loading..." : "Choose Again")
                    </button>
                    <a href="steam://run/@_appData.SteamAppid/" class="btn btn-success" id="steamUrl">Run game</a> <br />
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 my-5 my-md-0">
            <p class="fs-2" id="gameNameHeader">@_appData.Name</p>
            <span id="gameDescription">@((MarkupString)_appData.AboutTheGame)</span>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="text-white">Picking a game!</h1>
    </div>
}

@code {
    [Parameter]
    public long? SteamId { get; set; }

    private AppData _appData = default!;
    private bool _isBusy = false;
    private string? _errorMessage;
    private string _background = default!;
    private string _prevBackground = string.Empty;
    private byte[]? _backgroundBytes = default!;

    protected override async Task OnInitializedAsync()
    {
        await UpdateData();
    }

    private async Task UpdateData()
    {
        _errorMessage = null;
        try
        {
            _isBusy = true;
            await Task.Delay(50);
            _appData = await _client.GetFromJsonAsync<AppData>($"api/Steam/RandomGameBySteamId/{SteamId}") ?? 
                throw new Exception("Unable to retreive games.");

            if (_appData.Background is not null)
            {
                _background = _appData.Background;
                _backgroundBytes = await _client.GetByteArrayAsync(_background);
            }
            else
            {
                await RemoveBackground();
            }

            _isBusy = false;
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await SetBackground("");
        }
        if(_prevBackground != _background && _backgroundBytes is not null)
        {
            await SetBackground($"data:image/image/jpeg;base64,{Convert.ToBase64String(_backgroundBytes)}");
            _prevBackground = _background;
        }
    }

    private async Task SetBackground(string background)
    {
        await _jsRuntime.InvokeVoidAsync($"setBackground", background);
    }

    private async Task RemoveBackground()
    {
        await _jsRuntime.InvokeVoidAsync($"resetBackground");
    }

    public async ValueTask DisposeAsync()
    {
        await RemoveBackground();
    }
}
